
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<div style="position:relative;left:60px;font-weight:bold;font-size:18px;">商品照片：</div>
    <table style="position:relative;left:90px;">
     <form action="__SITE__/admin/good/thirdaddphoto/addid1/{$addid}" enctype="multipart/form-data" method="post">
     <tr >
       <td><input type="file" name="image[]" id="file"/></td>
       
       
     </tr>
 
 </table>
     <table style="position:relative;left:90px;">
     
     <tr >
       <td><input type="file" name="image[]" id="file"/></td>
       

     </tr>
 
 </table>
     <table style="position:relative;left:90px;">

     <tr >
       <td><input type="file" name="image[]" id="file"/></td>
      
       
     </tr>
 
 </table>
     <table style="position:relative;left:90px;">
    
     <tr >
       <td><input type="file" name="image[]" id="file"/></td>
      
      
     </tr>
 
 </table>
      <table style="position:relative;left:90px;">
     
     <tr >
       <td></td>
       <td></td>
       <td style="width:100px;height:100px; position:relative;left:30px;top:50px"></td>
     </tr>
 
 </table>
  <div style="position:relative;left:60px;font-weight:bold;font-size:18px;">商品详情照片：</div>
     <table style="position:relative;left:90px;">
 
     <tr >
       <td><input type="file" name="image[]" id="file"/></td>
     
       
     </tr>
 
 </table>
     <table style="position:relative;left:90px;">

     <tr >
       <td><input type="file" name="image[]" id="file"/></td>
     
       
     </tr>
 </table>
     <table style="position:relative;left:90px;">
     <tr >
       <td><input type="file" name="image[]" id="file"/></td>
     
       
     </tr>
 </table>
     <table style="position:relative;left:90px;">
     <tr >
       <td><input type="file" name="image[]" id="file"/></td>
       <td></td>
       
     </tr>
 </table>
     <table style="position:relative;left:90px;">
     <tr >
       <td><input type="submit" value="浏览" id="upload"/></td>
       <td></td>
       <td style="width:100px;height:100px; position:relative;left:30px;top:50px"></td>
     </tr>
 </form>
 </table>

</body>
</html>