<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Rose">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-title" content="fruitday">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="橙,苹果,火龙果,葡萄,瓜" />
    <meta name="description" content="天天果园官方网站提供水果生鲜、果篮券卡订制、干果零食等优质食品网购服务,2014年车厘子销量全网第一,佳沛奇异果、新奇士橙、进口牛油果等亦深受果友喜爱。" />
    <!-- tj -->
    <meta name="baidu-site-verification" content="iNWVGekdkk" />
    <meta name="360-site-verification" content="ebd66b0a60ba87c234630e8174396941" />
    <meta name="sogou_site_verification" content="K3NYdOvGD9"/>

    <title>食令生活-水果网购首选品牌，只为一份极致的新鲜！</title>
    <link rel="shortcut icon" href="http://www.fruitday.com/favicon.ico" >
    <link href="__STATIC__/Reception/Css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/Reception/Css/common.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/Reception/Css/style.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/Reception/Css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/Reception/Scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Reception/Scripts/cart.js"></script>
    
</head>
<body>
    <!-- top -->
    <div class="top-con">
        
    </div>

    <!-- 头部开始 -->
    <section class="p-common-header">
        <div class="topnav">
            <div class="content clearfix">
                <span class="pull-left">
                  <span class="pull-left p-common-region" id="region"> <img src="__STATIC__/Reception/Images/car.jpg">
                    <a href="javascript:;" class="topnav-region link-gray">
                        上海 <i class="iconfont">∨</i>
                    </a>
                    <div class="p-common-regionCon hide" id="regSel">
                        <h5>热门城市:</h5>
                        <ul class="list-unstyled clearfix hotcity">
                            <li>
                                <a href="javascript:;" data-id="106092">上海</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-id="144261">广州</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-id="143949">北京</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-id="17771">苏州</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-id="2">南京</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-id="144422">深圳</a>
                            </li>
                        </ul>
                        <h5>选择城市:</h5>
                        <ul class="list-unstyled regionsel">
                            <li>
                                <a href="javascript:;" data-id="106092">上海</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-id="145855">上海崇明</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="provicesel">
                                    <span class="pull-right">
                                      <i class="iconfont">></i>
                                  </span>
                                  江苏
                              </a>
                              <div class="citysel">
                                <a href="javascript:;" data-id="14270">常州</a>
                                <a href="javascript:;" data-id="31710">淮安</a>
                                <a href="javascript:;" data-id="28260">连云港</a>
                                <a href="javascript:;" data-id="2">南京</a>
                                <a href="javascript:;" data-id="23730">南通</a>
                                <a href="javascript:;" data-id="17771">苏州</a>
                                <a href="javascript:;" data-id="42749">泰州</a>
                                <a href="javascript:;" data-id="4536">无锡</a>
                                <a href="javascript:;" data-id="46290">宿迁</a>
                                <a href="javascript:;" data-id="9135">徐州</a>
                                <a href="javascript:;" data-id="49184">盐城</a>
                                <a href="javascript:;" data-id="36177">扬州</a>
                                <a href="javascript:;" data-id="39980">镇江</a>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="provicesel">
                                <span class="pull-right">
                                  <i class="iconfont">></i>
                              </span>
                              浙江
                          </a>
                          <div class="citysel">
                            <a href="javascript:;" data-id="54352">杭州</a>
                            <a href="javascript:;" data-id="78239">湖州</a>
                            <a href="javascript:;" data-id="74881">嘉兴</a>
                            <a href="javascript:;" data-id="84713">金华</a>
                            <a href="javascript:;" data-id="101443">丽水</a>
                            <a href="javascript:;" data-id="61841">宁波</a>
                            <a href="javascript:;" data-id="90123">衢州</a>
                            <a href="javascript:;" data-id="81106">绍兴</a>
                            <a href="javascript:;" data-id="96033">台州</a>
                            <a href="javascript:;" data-id="68453">温州</a>
                            <a href="javascript:;" data-id="93628">舟山</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" class="provicesel">
                            <span class="pull-right">
                              <i class="iconfont">></i>
                          </span>
                          安徽
                      </a>
                      <div class="citysel">
                        <a href="javascript:;" data-id="116543">安庆</a>
                        <a href="javascript:;" data-id="110702">蚌埠</a>
                        <a href="javascript:;" data-id="140334">亳州</a>
                        <a href="javascript:;" data-id="142739">池州</a>
                        <a href="javascript:;" data-id="122473">滁州</a>
                        <a href="javascript:;" data-id="126555">阜阳</a>
                        <a href="javascript:;" data-id="106341">合肥</a>
                        <a href="javascript:;" data-id="114716">淮北</a>
                        <a href="javascript:;" data-id="112546">淮南</a>
                        <a href="javascript:;" data-id="120049">黄山</a>
                        <a href="javascript:;" data-id="136386">六安</a>
                        <a href="javascript:;" data-id="113743">马鞍山</a>
                        <a href="javascript:;" data-id="115943">铜陵</a>
                        <a href="javascript:;" data-id="109303">芜湖</a>
                        <a href="javascript:;" data-id="130770">宿州</a>
                        <a href="javascript:;" data-id="144431">宣城</a>
                    </div>
                </li>
                <li>
                    <a href="javascript:;" data-id="143949">北京</a>
                </li>
                <li>
                    <a href="javascript:;" data-id="144005">天津</a>
                </li>
                <li>
                    <a href="javascript:;" class="provicesel">
                        <span class="pull-right">
                          <i class="iconfont">></i>
                      </span>
                      河北
                  </a>
                  <div class="citysel">
                    <a href="javascript:;" data-id="143984">石家庄</a>
                    <a href="javascript:;" data-id="144032">廊坊</a>
                    <a href="javascript:;" data-id="144033">承德</a>
                    <a href="javascript:;" data-id="144034">唐山</a>
                    <a href="javascript:;" data-id="144660">保定</a>
                    <a href="javascript:;" data-id="144668">沧州</a>
                    <a href="javascript:;" data-id="144677">邯郸</a>
                    <a href="javascript:;" data-id="144684">衡水</a>
                    <a href="javascript:;" data-id="144690">秦皇岛</a>
                    <a href="javascript:;" data-id="144694">邢台</a>
                    <a href="javascript:;" data-id="144700">张家口</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="provicesel">
                    <span class="pull-right">
                      <i class="iconfont">></i>
                  </span>
                  广东
              </a>
              <div class="citysel">
                <a href="javascript:;" data-id="144422">深圳</a>
                <a href="javascript:;" data-id="144261">广州</a>
                <a href="javascript:;" data-id="144274">珠海</a>
                <a href="javascript:;" data-id="144278">汕头</a>
                <a href="javascript:;" data-id="144285">韶关</a>
                <a href="javascript:;" data-id="144296">佛山</a>
                <a href="javascript:;" data-id="144302">江门</a>
                <a href="javascript:;" data-id="144313">湛江</a>
                <a href="javascript:;" data-id="144321">茂名</a>
                <a href="javascript:;" data-id="144328">肇庆</a>
                <a href="javascript:;" data-id="144334">惠州</a>
                <a href="javascript:;" data-id="144338">梅州</a>
                <a href="javascript:;" data-id="144341">汕尾</a>
                <a href="javascript:;" data-id="144345">河源</a>
                <a href="javascript:;" data-id="144347">阳江</a>
                <a href="javascript:;" data-id="144351">清远</a>
                <a href="javascript:;" data-id="144355">东莞</a>
                <a href="javascript:;" data-id="144357">中山</a>
                <a href="javascript:;" data-id="144359">揭阳</a>
                <a href="javascript:;" data-id="144364">云浮</a>
                <a href="javascript:;" data-id="144367">潮州</a>
            </div>
        </li>
    </ul>

</div>
</span>
满百包邮（环郊内）
<a href="/xyd" class="link-VI2" target="_blank">星夜达</a>
</span>

<ul class="pull-right list-inline">
    {if $Think.session.slsh_tel == null}
    <li>
        <a href="__SITE__/index/user/login" class="link-gray">[ 登录 ]</a>
        ，
        <a href="__SITE__/index/user/register" class="link-gray">[ 注册有惊喜 ]</a>
    </li>
    <li>|</li>
    {else}
    <li>您好，{$Think.session.slsh_tel}
        <a href="__SITE__/index/user/logout" class="link-gray">[ 退出 ]</a> &nbsp;
        <a href="__SITE__/index/my/myorder" class="link-gray"> 我的生活 </a>
    </li>
    <li>|</li>
    {/if}
    <li class="p-common-topsubnav">
        生活公告
        <!--<span class="tipscircle"></span>-->
        <div class="p-common-noticelist hide">
            <ul class="list-unstyled">
                <li>
                    <a href="/notice/detail/816" target="_blank">全仓充值活动调整公告</a>
                    <em>new</em>                            </li>
                    <li>
                        <a href="/notice/detail/815" target="_blank">全仓充值活动调整公告</a>
                        <em>new</em>                            </li>
                        <li>
                            <a href="/notice/detail/813" target="_blank">充值赠品有效期规则公告</a>
                            <em>new</em>                            </li>
                        </ul>
                        <div class="text-center"><a href="/notice" target="_blank">查看更多 ></a></div>
                    </div>
                </li>
                <li>|</li>
                <li>
                    <a href="/web/card_change" class="link-gray pull-left" target="_blank">券卡兑换</a>
                </li>
                <li>|</li>
                <li class="p-common-topsubnav">
                    <img src="__STATIC__/Reception/Images/phone.jpg" />
                    手机生活
                    <div class="p-common-topcode hide">
                        <div class="text-center">
                            <span class="VI-color2">下载生活app，</span>
                            即享特价生活商品
                        </div>  
                        <dl class="clearfix">
                            <dt>
                                <img src="__STATIC__/Reception/Picture/guan_ewcode2.jpg" alt="" />
                            </dt>
                            <dd>
                                <a href="https://itunes.apple.com/us/app/tian-tian-guo-yuan-fruitday/id880977721" target="_blank">
                                    <img src="__STATIC__/Reception/Picture/guan_btn01.jpg" alt="" />
                                </a>
                                <a href="http://cdn.fruitday.com/fruitday.apk" target="_blank">
                                    <img src="__STATIC__/Reception/Picture/guan_btn02.jpg" alt="" />
                                </a>
                            </dd>
                        </dl>
                        <dl class="clearfix">
                            <dt>
                                <img src="__STATIC__/Reception/Picture/guan_ewcode1.jpg" alt="" />
                            </dt>
                            <dd>
                                <span class="VI-color2">关注生活微信</span>
                                优惠信息实时掌握
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>|</li>
                <li>
                    <img src="__STATIC__/Reception/Images/tel.jpg" /> <b>400-720-0770</b>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <nav class="navbar ">
            <div class="container-fluid">
             <div class="navbar-header">
                <a href="__SITE__"><img src="__STATIC__/Reception/Picture/6.jpg" alt="" /></a>
            </div>
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav" id="navcon">
                    <li class="">
                        <a href="/">
                            首页
                            <span>Home</span>
                        </a> <em></em>
                    </li>
                    <li class="">
                        <a href="/prolist/index/40" target="_blank">
                            鲜果
                            <span>Fruit</span>
                        </a> <em></em>
                    </li>
                    
                    <li class="">
                        <a href="/prolist/index/43" target="_blank">
                            坚果
                            <span>Nut</span>
                        </a>
                        <em></em>
                    </li>
<!--                        <li class="">
                            <a href="/xsh" target="_blank">
                                抢鲜啦！
                                <span>Sale</span>
                            </a>
                            <em></em>
                        </li>-->
<!--                        <li class="">
                            <a href="/kjt" target="_blank">
                                跨境鲜
                                <span>Duty free</span>
                            </a>
                            <em></em>
                        </li>-->
                        <li class="">
                            <a href="/member/center" target="_blank">
                                礼品
                                <span>Gift</span>
                            </a>
                            <em></em>
                        </li>
                    </ul>
                    <div class="navbar-right">
                        <div class="p-common-topsearch">
                            <input id="search-keyword" type="search" placeholder="请输入关键字" value="金奇异果"/>
                            <input type="hidden" id="last_keyword" />
                            <button id="search-button">
                                <img src="__STATIC__/Reception/Images/fangda.jpg">
                            </button>
                            <div class="hotsearch">
                                热门：
                                <a href="/prolist/search?keyword=桃子" target="_blank">桃子</a>
                                <a href="/prolist/search?keyword=苹果" target="_blank">苹果</a>
                                <a href="/prolist/search?keyword=脐橙" target="_blank">脐橙</a>
                                
                            </div>
                            <ul class="subsearch">
                            </ul>
                        </div>
                        
                        <div class="p-common-navtoggle" id="navtoggle">
                            <i class="iconfont navtogglebg">&#xe601;</i>
                            <ul class="navtoggle-icon list-unstyled">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>

                        <div class="p-common-minicart">
                           <div id="miniCart">
                              <img src="__STATIC__/Reception/Images/shopcar.jpg">
                              
                              <span class="cartnum"></span>
                          </div>
                          <div class="cartcont"><i class="iconfont">&#xe607;</i>
                            <h5 class="text-center font-color">购物车中还没有商品，赶紧选购吧！</h5>
                        </div>
                        
                    </div>
                </div>



            </div>
        </div>
    </div>
    
</section>